@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
.libre-caslon-text-regular {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
}
  
.libre-caslon-text-bold {
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;
}
  
.libre-caslon-text-regular-italic {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: italic;
}
  
body {
    text-align: center;
    font-family: Arial, sans-serif;
}
#grad {
    background-image: radial-gradient(pink, rgb(255, 227, 232), white);
  }
video, img {
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);;
}
.photo-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.photo-preview {
    width: 100px;
    height: 150px;
    object-fit: cover;
}
button {
    margin: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Libre Caslon Text", serif;
}
    

.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(0, 0, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: rgba(255, 255, 255, 0.877);
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
}

.button:active {
  scale: 1;
}

.button:disabled {
    pointer-events: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 34px;
    color: rgba(0, 0, 0, 0.15);
}


